.xVHRDetails {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.xVHRDetails .xVHRDetails-layout--whole {
  position: relative;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}
.xVHRDetails .xVHRDetails-layout--leftColumn {
  position: relative;
  flex-basis: 50%;
  max-width: 50%;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
.xVHRDetails .xVHRDetails-layout--rightColumn {
  position: relative;
  flex-basis: 40%;
  max-width: 40%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.xVHRDetails .xVHRDetails-vhrSection {
  margin-bottom: 20px;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable {
  display: block;
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  max-height: 300px;
  overflow: auto;
  border-bottom: 1px solid #cfd9db;
  margin-bottom: 0;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable .xVHRDetails-vhrSection-memberSubmittedTable-row.xVHRDetails-vhrSection-memberSubmittedTable-row--heading .xVHRDetails-vhrSection-memberSubmittedTable-row-cell {
  color: #607D8B;
  font-weight: 600;
  background-color: #F8F9FA;
  border-top: 1px solid #cfd9db;
  border-bottom: 1px solid #cfd9db;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable .xVHRDetails-vhrSection-memberSubmittedTable-row .xVHRDetails-vhrSection-memberSubmittedTable-row-cell {
  padding: 15px 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #cfd9db;
  font-size: 13px;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable .xVHRDetails-vhrSection-memberSubmittedTable-row .xVHRDetails-vhrSection-memberSubmittedTable-row-cell:first-child {
  padding-left: 20px;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable .xVHRDetails-vhrSection-memberSubmittedTable-row .xVHRDetails-vhrSection-memberSubmittedTable-row-cell:last-child {
  padding-right: 20px;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable .xVHRDetails-vhrSection-memberSubmittedTable-row:last-child .xVHRDetails-vhrSection-memberSubmittedTable-row-cell {
  border-bottom: none;
}
.xVHRDetails .xVHRDetails-vhrSection .xVHRDetails-vhrSection-memberSubmittedTable .xVHRDetails-vhrSection-memberSubmittedTable-row:last-child.xVHRDetails-vhrSection-memberSubmittedTable-row--heading .xVHRDetails-vhrSection-memberSubmittedTable-row-cell {
  border-bottom: 1px solid #cfd9db;
}
